<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>app.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>app.controller.AccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>bankAccount.jsp</welcome-file>
    </welcome-file-list>
</web-app>